.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flexbox-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	cursor: pointer;
	border: none;
	padding: 15px 25px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.btn-dim {
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: filter 0.2s ease-in-out;
}

.btn-dim:hover {
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}

.img-auto-resize {
	max-height: 100%;
	max-width: 100%;
	height: auto;
}

.green-btn {
	color: white;
	background-color: rgb(78, 216, 106);
}

.blue-btn {
	color: white;
	background-color: rgb(83, 106, 255);
}